<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main fragments</title>
</head>
<body>

<!--/*@thymesVar id="errorList" type="java.util.Collection"*/-->
<!--<div class="alert alert-danger" role="alert" th:if="${errorList != null}" th:fragment="errorFragment">
    <p th:each="error : ${errorList}" th:text="${error}"></p>
</div>-->

<div th:fragment="errorFragment" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors()}">
    <p th:each="err : ${#fields.errors()}" th:text="${err}"/>
</div>

</body>
</html>